* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: red;
}

header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: pink;
}

header > div:first-child {
  margin-right: auto;
}

main {
  justify-content: center;
  display: flex;
}

.box {
  width: 300px;
  background-color: lime;
}

.flex {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: green;
}

.flex > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: yellow;
}

footer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: blue;
}

footer > div {
  max-width: 600px;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  background-color: skyblue;
}
